@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Sacramento&display=swap");
::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.15);
  cursor: pointer;
}

::-webkit-scrollbar-track {
  background: transparent;
  width: calc(2px * 2);
  border: 2px solid rgba(26, 26, 26, 0);
}

::-webkit-scrollbar-track-piece {
  background: transparent;
  width: calc(2px / 2);
  border: 2px solid rgba(26, 26, 26, 0);
}

body {
  scrollbar-face-color: rgba(255, 255, 255, 0.15);
  scrollbar-track-color: transparent;
}

div {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 5vmin;
}

body {
  display: grid;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Sacramento", cursive;
  color: #fff;
  background: #333;
  background-image: radial-gradient(ellipse at bottom left, #00a3cb 40%, rgba(0, 163, 203, 0) 40%), radial-gradient(ellipse at top right, #00a3cb 30%, rgba(0, 163, 203, 0) 30%), linear-gradient(to right, #625793 0%, #625793 33%, #d55d64 33%, #d55d64 66%, #e49129 66%);
  background-size: 50% 100%;
}
body .card {
  margin: auto;
  padding: 2em;
  border-radius: 1em;
  border: 1px solid rgba(255, 255, 255, 0.5);
  text-shadow: 0 0 1em rgba(0, 0, 0, 0.5);
  background: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  transform: perspective(500px);
  transform-style: preserve-3d;
}
body .card .welcome {
  font-family: "Sacramento", cursive;
  transform: translateZ(20px);
}
body .card .year {
  font-family: "Great Vibes", cursive;
  font-size: 2.5em;
}
body .card .year span {
  display: block;
  transform: translateZ(40px);
}
body .card .year span:nth-child(2) {
  padding-left: 1em;
  transform: translateZ(60px);
}
body .card .year span:nth-child(3) {
  padding-left: 2em;
  transform: translateZ(80px);
}

#menuIcon {
  width: 60px;
  border-radius: 50%;
  position: fixed;
  top: 40px;
  left: 60px;
  cursor: pointer;
  z-index: 100;
}

.menu-box {
  width: 0%;
  height: 0vh;
  background: rgba(136, 223, 237, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  border-bottom-right-radius: 100%;
  transition: width 0.5s height 0.5s border-radius 0.5s;
}


.menu-box.open-menu {
  width: 100%;
  height: 100vh;
  border-bottom-right-radius: 0;
}

.menu-box.open-menu ul li {
  opacity: 1;
  transform: translateY(0);
  transition: transform 1s, opacity 1s;
  transition-delay: 0.5s;
}

.menu-box ul li {
  list-style: none;
  margin: 20px;
  text-align: center;

  opacity: 1;
  transform: translateY(30px);

}

.menu-box ul li a {
  display: inline-block;
  text-decoration: none;
  color: rgb(5, 165, 240);
  font-size: 20px;
  font-weight: 600;
  position: relative;
  text-shadow: 0 0 0 rgb(248, 244, 244);
  transition: text-shadow 0.5s, transform 0.5s;
}

.menu-box ul li a:hover {
  text-shadow: -3px 3px 0 rgb(244, 241, 241);
  transform: translateY(-6px)
}

.menu-box ul li a::after {
  content: '';
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: rgb(9, 211, 247);
  position: absolute;
  bottom: 19px;
  right: -18px;
  opacity: 0;
  box-shadow: 0 0 0 rgb(239, 234, 234);
  transition: box-shadow 0.5s;
}

.menu-box ul li a:hover::after {
  opacity: 1;
  box-shadow: -2px 2px 0 rgb(239, 238, 238)
}

