.light {
    position: absolute;
    margin: -1vmin 0 0 -1vmin;
    height: 2vmin;
    width: 2vmin;
    border-radius: 100%;
    mix-blend-mode: color-dodge;
    transition: box-shadow 2s;
}
.light:before, .light:after {
    position: absolute;
    bottom: 0;
    height: 150%;
    width: 100%;
    content: '';
    background: #ff1f60;
    border-radius: 2em 2em 0 0;
}
.light:before {
    left: 50%;
    transform: rotate(-45deg);
    transform-origin: left bottom;
}
.light:after {
    right: 50%;
    transform: rotate(45deg);
    transform-origin: right bottom;
}
h1:hover + .light {
    box-shadow: 0 0 0 10vmin rgba(51, 150, 255, .125), 0 0 0 41vmin rgba(177, 255, 51, .125), 0 0 0 129vmin rgba(255, 180, 51, .125), 0 0 0 72vmin rgba(211, 255, 51, .125), 0 0 0 139vmin rgba(51, 224, 255, .125), 0 0 0 96vmin rgba(51, 255, 133, .125), 0 0 0 39vmin rgba(241, 255, 51, .125), 0 0 0 34vmin rgba(51, 255, 221, .125), 0 0 0 101vmin rgba(51, 201, 255, .125), 0 0 0 127vmin rgba(68, 255, 51, .125), 0 0 0 62vmin rgba(139, 255, 51, .125), 0 0 0 46vmin rgba(78, 255, 51, .125), 0 0 0 148vmin rgba(255, 143, 51, .125), 0 0 0 24vmin rgba(51, 126, 255, .125), 0 0 0 101vmin rgba(51, 204, 255, .125), 0 0 0 126vmin rgba(255, 85, 51, .125), 0 0 0 20vmin rgba(68, 255, 51, .125), 0 0 0 3vmin rgba(51, 248, 255, .125), 0 0 0 135vmin rgba(51, 194, 255, .125), 0 0 0 105vmin rgba(51, 255, 61, .125);
}
h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 200;
    max-width: 10em;
    width: 100%;
    margin: 0;
    font-size: 7vmin;
    font-weight: normal;
    background: linear-gradient(45deg, #09447b 0, #8f0044 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: translate(-50%, -50%);
}
h1::selection {
    background: #ff5284;
}
h1:hover {
    background: none;
    -webkit-background-clip: initial;
    -webkit-text-fill-color: initial;
    mix-blend-mode: color-dodge;
}
h1 span {
    transition: color 0.3s;
}
h1:hover span:nth-child(1) {
    color: #e88630;
    animation: love-1 4s 0.05s infinite;
}
h1:hover span:nth-child(2) {
    color: #e84930;
    animation: love-2 4s 0.1s infinite;
}
h1:hover span:nth-child(3) {
    color: #d6e830;
    animation: love-3 4s 0.15s infinite;
}
h1:hover span:nth-child(4) {
    color: #3077e8;
    animation: love-4 4s 0.2s infinite;
}
h1:hover span:nth-child(5) {
    color: #30e8d3;
    animation: love-5 4s 0.25s infinite;
}
h1:hover span:nth-child(6) {
    color: #b7e830;
    animation: love-6 4s 0.3s infinite;
}
h1:hover span:nth-child(7) {
    color: #e86430;
    animation: love-7 4s 0.35s infinite;
}
h1:hover span:nth-child(8) {
    color: #309fe8;
    animation: love-8 4s 0.4s infinite;
}
h1:hover span:nth-child(9) {
    color: #305ee8;
    animation: love-9 4s 0.45s infinite;
}
h1:hover span:nth-child(10) {
    color: #30e8e2;
    animation: love-10 4s 0.5s infinite;
}
h1:hover span:nth-child(11) {
    color: #86e830;
    animation: love-11 4s 0.55s infinite;
}
h1:hover span:nth-child(12) {
    color: #e87d30;
    animation: love-12 4s 0.6s infinite;
}
h1:hover span:nth-child(13) {
    color: #30e85e;
    animation: love-13 4s 0.65s infinite;
}
h1:hover span:nth-child(14) {
    color: #52e830;
    animation: love-14 4s 0.7s infinite;
}
h1:hover span:nth-child(15) {
    color: #9ce830;
    animation: love-15 4s 0.75s infinite;
}
h1:hover span:nth-child(16) {
    color: #30e85e;
    animation: love-16 4s 0.8s infinite;
}
h1:hover span:nth-child(17) {
    color: #3ae830;
    animation: love-17 4s 0.85s infinite;
}
h1:hover span:nth-child(18) {
    color: #304ce8;
    animation: love-18 4s 0.9s infinite;
}
h1:hover span:nth-child(19) {
    color: #e88630;
    animation: love-19 4s 0.95s infinite;
}
h1:hover span:nth-child(20) {
    color: #e83a30;
    animation: love-20 4s 1s infinite;
}
h1:hover span:nth-child(21) {
    color: #b1e830;
    animation: love-21 4s 1.05s infinite;
}
h1:hover span:nth-child(22) {
    color: #30aee8;
    animation: love-22 4s 1.1s infinite;
}
h1:hover span:nth-child(23) {
    color: #30e886;
    animation: love-23 4s 1.15s infinite;
}
h1:hover span:nth-child(24) {
    color: #e8b730;
    animation: love-24 4s 1.2s infinite;
}
h1:hover span:nth-child(25) {
    color: #e87430;
    animation: love-25 4s 1.25s infinite;
}
h1:hover span:nth-child(26) {
    color: #e87430;
    animation: love-26 4s 1.3s infinite;
}
h1:hover span:nth-child(27) {
    color: #30cde8;
    animation: love-27 4s 1.35s infinite;
}
h1:hover span:nth-child(28) {
    color: #30e86b;
    animation: love-28 4s 1.4s infinite;
}
h1:hover span:nth-child(29) {
    color: #30e837;
    animation: love-29 4s 1.45s infinite;
}
h1:hover span:nth-child(30) {
    color: #bde830;
    animation: love-30 4s 1.5s infinite;
}
h1:hover span:nth-child(31) {
    color: #34e830;
    animation: love-31 4s 1.55s infinite;
}
h1:hover span:nth-child(32) {
    color: #30e84f;
    animation: love-32 4s 1.6s infinite;
}
h1:hover span:nth-child(33) {
    color: #30e874;
    animation: love-33 4s 1.65s infinite;
}
h1:hover span:nth-child(34) {
    color: #30e85e;
    animation: love-34 4s 1.7s infinite;
}
h1:hover span:nth-child(35) {
    color: #30e8ae;
    animation: love-35 4s 1.75s infinite;
}
h1:hover span:nth-child(36) {
    color: #30d9e8;
    animation: love-36 4s 1.8s infinite;
}
h1:hover span:nth-child(37) {
    color: #3061e8;
    animation: love-37 4s 1.85s infinite;
}
h1:hover span:nth-child(38) {
    color: #3080e8;
    animation: love-38 4s 1.9s infinite;
}
h1 span::selection {
    background: #ff5284;
    color: #fff;
    -webkit-text-fill-color: #fff;
}
@keyframes love-1 {
    10% {
        color: #30bde8;
   }
    20% {
        color: #30e8b1;
   }
    30% {
        color: #30a8e8;
   }
    40% {
        color: #30e88f;
   }
    50% {
        color: #30e8a8;
   }
    60% {
        color: #3083e8;
   }
    70% {
        color: #30e8ae;
   }
    80% {
        color: #64e830;
   }
    90% {
        color: #30e8d6;
   }
}
@keyframes love-2 {
    10% {
        color: #e8a530;
   }
    20% {
        color: #30e8d3;
   }
    30% {
        color: #3052e8;
   }
    40% {
        color: #a2e830;
   }
    50% {
        color: #e8df30;
   }
    60% {
        color: #c6e830;
   }
    70% {
        color: #e88330;
   }
    80% {
        color: #95e830;
   }
    90% {
        color: #5230e8;
   }
}
@keyframes love-3 {
    10% {
        color: #308fe8;
   }
    20% {
        color: #e8e830;
   }
    30% {
        color: #30e8e8;
   }
    40% {
        color: #3068e8;
   }
    50% {
        color: #30e849;
   }
    60% {
        color: #304ce8;
   }
    70% {
        color: #80e830;
   }
    80% {
        color: #3077e8;
   }
    90% {
        color: #30e8c6;
   }
}
@keyframes love-4 {
    10% {
        color: #30e8bd;
   }
    20% {
        color: #30b4e8;
   }
    30% {
        color: #30e8e5;
   }
    40% {
        color: #30e5e8;
   }
    50% {
        color: #30e8bd;
   }
    60% {
        color: #92e830;
   }
    70% {
        color: #e84930;
   }
    80% {
        color: #4930e8;
   }
    90% {
        color: #3030e8;
   }
}
@keyframes love-5 {
    10% {
        color: #dce830;
   }
    20% {
        color: #30cde8;
   }
    30% {
        color: #83e830;
   }
    40% {
        color: #55e830;
   }
    50% {
        color: #3a30e8;
   }
    60% {
        color: #e89f30;
   }
    70% {
        color: #e89230;
   }
    80% {
        color: #e8c630;
   }
    90% {
        color: #52e830;
   }
}
@keyframes love-6 {
    10% {
        color: #30c0e8;
   }
    20% {
        color: #e84c30;
   }
    30% {
        color: #e83a30;
   }
    40% {
        color: #3730e8;
   }
    50% {
        color: #30e8ae;
   }
    60% {
        color: #5ee830;
   }
    70% {
        color: #e8c330;
   }
    80% {
        color: #c0e830;
   }
    90% {
        color: #3064e8;
   }
}
@keyframes love-7 {
    10% {
        color: #3430e8;
   }
    20% {
        color: #e89530;
   }
    30% {
        color: #e5e830;
   }
    40% {
        color: #e83a30;
   }
    50% {
        color: #e89830;
   }
    60% {
        color: #e89c30;
   }
    70% {
        color: #30e877;
   }
    80% {
        color: #30e8e2;
   }
    90% {
        color: #40e830;
   }
}
@keyframes love-8 {
    10% {
        color: #30e87d;
   }
    20% {
        color: #e88930;
   }
    30% {
        color: #30aee8;
   }
    40% {
        color: #30e84f;
   }
    50% {
        color: #b7e830;
   }
    60% {
        color: #30d9e8;
   }
    70% {
        color: #d9e830;
   }
    80% {
        color: #e84030;
   }
    90% {
        color: #30e895;
   }
}
@keyframes love-9 {
    10% {
        color: #4fe830;
   }
    20% {
        color: #68e830;
   }
    30% {
        color: #e83d30;
   }
    40% {
        color: #5be830;
   }
    50% {
        color: #30e8d0;
   }
    60% {
        color: #30a5e8;
   }
    70% {
        color: #30e89c;
   }
    80% {
        color: #3061e8;
   }
    90% {
        color: #e88030;
   }
}
@keyframes love-10 {
    10% {
        color: #30e87d;
   }
    20% {
        color: #3ae830;
   }
    30% {
        color: #e83a30;
   }
    40% {
        color: #30aee8;
   }
    50% {
        color: #e83430;
   }
    60% {
        color: #30e858;
   }
    70% {
        color: #e88f30;
   }
    80% {
        color: #30e895;
   }
    90% {
        color: #307de8;
   }
}
@keyframes love-11 {
    10% {
        color: #aee830;
   }
    20% {
        color: #30e877;
   }
    30% {
        color: #5830e8;
   }
    40% {
        color: #89e830;
   }
    50% {
        color: #30e86e;
   }
    60% {
        color: #30e8b4;
   }
    70% {
        color: #30e88c;
   }
    80% {
        color: #34e830;
   }
    90% {
        color: #e85b30;
   }
}
@keyframes love-12 {
    10% {
        color: #3083e8;
   }
    20% {
        color: #30e861;
   }
    30% {
        color: #304ce8;
   }
    40% {
        color: #8fe830;
   }
    50% {
        color: #30e8cd;
   }
    60% {
        color: #e8b730;
   }
    70% {
        color: #e88030;
   }
    80% {
        color: #e84030;
   }
    90% {
        color: #40e830;
   }
}
@keyframes love-13 {
    10% {
        color: #e8c930;
   }
    20% {
        color: #4fe830;
   }
    30% {
        color: #30e877;
   }
    40% {
        color: #3068e8;
   }
    50% {
        color: #30e8b7;
   }
    60% {
        color: #e84030;
   }
    70% {
        color: #30e855;
   }
    80% {
        color: #30e855;
   }
    90% {
        color: #52e830;
   }
}
@keyframes love-14 {
    10% {
        color: #e83430;
   }
    20% {
        color: #68e830;
   }
    30% {
        color: #3d30e8;
   }
    40% {
        color: #61e830;
   }
    50% {
        color: #3037e8;
   }
    60% {
        color: #3071e8;
   }
    70% {
        color: #30abe8;
   }
    80% {
        color: #e86830;
   }
    90% {
        color: #46e830;
   }
}
@keyframes love-15 {
    10% {
        color: #304ce8;
   }
    20% {
        color: #89e830;
   }
    30% {
        color: #303ae8;
   }
    40% {
        color: #e8d930;
   }
    50% {
        color: #e8e530;
   }
    60% {
        color: #3043e8;
   }
    70% {
        color: #e84f30;
   }
    80% {
        color: #304ce8;
   }
    90% {
        color: #308fe8;
   }
}
@keyframes love-16 {
    10% {
        color: #d9e830;
   }
    20% {
        color: #40e830;
   }
    30% {
        color: #4030e8;
   }
    40% {
        color: #30e852;
   }
    50% {
        color: #3089e8;
   }
    60% {
        color: #30e877;
   }
    70% {
        color: #30e880;
   }
    80% {
        color: #3074e8;
   }
    90% {
        color: #61e830;
   }
}
@keyframes love-17 {
    10% {
        color: #30d3e8;
   }
    20% {
        color: #30e8c0;
   }
    30% {
        color: #304ce8;
   }
    40% {
        color: #e86b30;
   }
    50% {
        color: #3083e8;
   }
    60% {
        color: #e85530;
   }
    70% {
        color: #e8a230;
   }
    80% {
        color: #30d0e8;
   }
    90% {
        color: #92e830;
   }
}
@keyframes love-18 {
    10% {
        color: #30e883;
   }
    20% {
        color: #e85230;
   }
    30% {
        color: #37e830;
   }
    40% {
        color: #3d30e8;
   }
    50% {
        color: #304ce8;
   }
    60% {
        color: #4030e8;
   }
    70% {
        color: #e8bd30;
   }
    80% {
        color: #e8d030;
   }
    90% {
        color: #30e834;
   }
}
@keyframes love-19 {
    10% {
        color: #30e87a;
   }
    20% {
        color: #e8a230;
   }
    30% {
        color: #e84630;
   }
    40% {
        color: #40e830;
   }
    50% {
        color: #e83730;
   }
    60% {
        color: #dce830;
   }
    70% {
        color: #e8b430;
   }
    80% {
        color: #9ce830;
   }
    90% {
        color: #5ee830;
   }
}
@keyframes love-20 {
    10% {
        color: #e84630;
   }
    20% {
        color: #3092e8;
   }
    30% {
        color: #e84630;
   }
    40% {
        color: #30e8a5;
   }
    50% {
        color: #30e843;
   }
    60% {
        color: #3061e8;
   }
    70% {
        color: #a2e830;
   }
    80% {
        color: #3074e8;
   }
    90% {
        color: #30e8c0;
   }
}
@keyframes love-21 {
    10% {
        color: #e83730;
   }
    20% {
        color: #e84030;
   }
    30% {
        color: #30a2e8;
   }
    40% {
        color: #92e830;
   }
    50% {
        color: #30c0e8;
   }
    60% {
        color: #d0e830;
   }
    70% {
        color: #e84930;
   }
    80% {
        color: #7de830;
   }
    90% {
        color: #e84330;
   }
}
@keyframes love-22 {
    10% {
        color: #30e8b1;
   }
    20% {
        color: #4ce830;
   }
    30% {
        color: #e86430;
   }
    40% {
        color: #37e830;
   }
    50% {
        color: #71e830;
   }
    60% {
        color: #e8bd30;
   }
    70% {
        color: #e8df30;
   }
    80% {
        color: #c9e830;
   }
    90% {
        color: #e8b130;
   }
}
@keyframes love-23 {
    10% {
        color: #37e830;
   }
    20% {
        color: #e8c330;
   }
    30% {
        color: #58e830;
   }
    40% {
        color: #5230e8;
   }
    50% {
        color: #d6e830;
   }
    60% {
        color: #e88f30;
   }
    70% {
        color: #37e830;
   }
    80% {
        color: #305be8;
   }
    90% {
        color: #e87a30;
   }
}
@keyframes love-24 {
    10% {
        color: #3074e8;
   }
    20% {
        color: #83e830;
   }
    30% {
        color: #3098e8;
   }
    40% {
        color: #3730e8;
   }
    50% {
        color: #e85830;
   }
    60% {
        color: #306ee8;
   }
    70% {
        color: #6ee830;
   }
    80% {
        color: #30e855;
   }
    90% {
        color: #30e89c;
   }
}
@keyframes love-25 {
    10% {
        color: #37e830;
   }
    20% {
        color: #e87a30;
   }
    30% {
        color: #e8ae30;
   }
    40% {
        color: #e87130;
   }
    50% {
        color: #30e846;
   }
    60% {
        color: #309ce8;
   }
    70% {
        color: #9fe830;
   }
    80% {
        color: #30e849;
   }
    90% {
        color: #e85e30;
   }
}
@keyframes love-26 {
    10% {
        color: #30e83a;
   }
    20% {
        color: #e8df30;
   }
    30% {
        color: #e83a30;
   }
    40% {
        color: #30e8a5;
   }
    50% {
        color: #e83d30;
   }
    60% {
        color: #3ae830;
   }
    70% {
        color: #309fe8;
   }
    80% {
        color: #e8ba30;
   }
    90% {
        color: #30e84c;
   }
}
@keyframes love-27 {
    10% {
        color: #30e8c0;
   }
    20% {
        color: #7de830;
   }
    30% {
        color: #30e837;
   }
    40% {
        color: #37e830;
   }
    50% {
        color: #30e2e8;
   }
    60% {
        color: #30e2e8;
   }
    70% {
        color: #a2e830;
   }
    80% {
        color: #c9e830;
   }
    90% {
        color: #30e8cd;
   }
}
@keyframes love-28 {
    10% {
        color: #30c0e8;
   }
    20% {
        color: #30e8dc;
   }
    30% {
        color: #e86430;
   }
    40% {
        color: #30e8a2;
   }
    50% {
        color: #e88f30;
   }
    60% {
        color: #e87a30;
   }
    70% {
        color: #e85530;
   }
    80% {
        color: #c9e830;
   }
    90% {
        color: #3083e8;
   }
}
@keyframes love-29 {
    10% {
        color: #3046e8;
   }
    20% {
        color: #e8ae30;
   }
    30% {
        color: #49e830;
   }
    40% {
        color: #49e830;
   }
    50% {
        color: #30e892;
   }
    60% {
        color: #e8ab30;
   }
    70% {
        color: #e83a30;
   }
    80% {
        color: #e89830;
   }
    90% {
        color: #e88330;
   }
}
@keyframes love-30 {
    10% {
        color: #30e84f;
   }
    20% {
        color: #9fe830;
   }
    30% {
        color: #3089e8;
   }
    40% {
        color: #e84630;
   }
    50% {
        color: #30e837;
   }
    60% {
        color: #34e830;
   }
    70% {
        color: #e86130;
   }
    80% {
        color: #e88930;
   }
    90% {
        color: #c3e830;
   }
}
@keyframes love-31 {
    10% {
        color: #e87a30;
   }
    20% {
        color: #e84630;
   }
    30% {
        color: #4f30e8;
   }
    40% {
        color: #e84f30;
   }
    50% {
        color: #e8e530;
   }
    60% {
        color: #e88630;
   }
    70% {
        color: #e85830;
   }
    80% {
        color: #30e88f;
   }
    90% {
        color: #e8e830;
   }
}
@keyframes love-32 {
    10% {
        color: #e8dc30;
   }
    20% {
        color: #3077e8;
   }
    30% {
        color: #30d6e8;
   }
    40% {
        color: #30bde8;
   }
    50% {
        color: #5ee830;
   }
    60% {
        color: #4f30e8;
   }
    70% {
        color: #89e830;
   }
    80% {
        color: #30e852;
   }
    90% {
        color: #8ce830;
   }
}
@keyframes love-33 {
    10% {
        color: #3092e8;
   }
    20% {
        color: #e8e530;
   }
    30% {
        color: #5ee830;
   }
    40% {
        color: #e8e830;
   }
    50% {
        color: #3034e8;
   }
    60% {
        color: #3071e8;
   }
    70% {
        color: #e8c930;
   }
    80% {
        color: #e8ab30;
   }
    90% {
        color: #5e30e8;
   }
}
@keyframes love-34 {
    10% {
        color: #30e864;
   }
    20% {
        color: #304fe8;
   }
    30% {
        color: #30e8c6;
   }
    40% {
        color: #e88630;
   }
    50% {
        color: #30e8c6;
   }
    60% {
        color: #e88630;
   }
    70% {
        color: #40e830;
   }
    80% {
        color: #e8df30;
   }
    90% {
        color: #30e889;
   }
}
@keyframes love-35 {
    10% {
        color: #30e843;
   }
    20% {
        color: #3043e8;
   }
    30% {
        color: #30e8a2;
   }
    40% {
        color: #40e830;
   }
    50% {
        color: #3089e8;
   }
    60% {
        color: #30e880;
   }
    70% {
        color: #e86b30;
   }
    80% {
        color: #30b1e8;
   }
    90% {
        color: #30abe8;
   }
}
@keyframes love-36 {
    10% {
        color: #e8b430;
   }
    20% {
        color: #86e830;
   }
    30% {
        color: #30e8df;
   }
    40% {
        color: #a5e830;
   }
    50% {
        color: #a2e830;
   }
    60% {
        color: #e84330;
   }
    70% {
        color: #30e8d6;
   }
    80% {
        color: #e8df30;
   }
    90% {
        color: #9ce830;
   }
}
@keyframes love-37 {
    10% {
        color: #30e8d6;
   }
    20% {
        color: #30d6e8;
   }
    30% {
        color: #30e88c;
   }
    40% {
        color: #e8c630;
   }
    50% {
        color: #309ce8;
   }
    60% {
        color: #e86430;
   }
    70% {
        color: #e85230;
   }
    80% {
        color: #30e874;
   }
    90% {
        color: #5be830;
   }
}
@keyframes love-38 {
    10% {
        color: #e2e830;
   }
    20% {
        color: #30e86b;
   }
    30% {
        color: #e8b730;
   }
    40% {
        color: #e8c930;
   }
    50% {
        color: #3077e8;
   }
    60% {
        color: #e83d30;
   }
    70% {
        color: #e8c330;
   }
    80% {
        color: #e83a30;
   }
    90% {
        color: #30e8e8;
   }
}
html {
    overflow: hidden;
    height: 100%;
    font-family: "Satisfy";
    background: #09447b;
    background: linear-gradient(45deg, #09447b 0, #8f0044 100%);
}
body {
    height: 100%;
}
