*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(../pictures/lights.jpg);
    background-color: black;
  }
  .container{
    position: relative;
    width: 600px;
    height: 600px;
    border: 2px solid white;
    border-radius: 50%;
  
  }
  
  .container .icon{
    position: relative;
    left: -50%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  .container .icon .imgBx{
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    transition: 0.5s;
    border: 1px solid white;
    box-shadow: 0 0 0 4px #222, 0 0 0 6px white;
    transform: rotate(calc(360deg/8 * var(--i)));
    transform-origin: 340px;
    z-index: 100;
    overflow: hidden;
  }
  .container .icon .imgBx.active{
    box-shadow: 0 0 0 6px #222, 0 0 0 12px #351660;
  }
  .container .icon .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    transform: rotate(calc(-360deg/8 * var(--i)));
    transition: 0.5s;
    filter: grayscale(1);
  }
  .container .icon .imgBx.active img{
    filter: grayscale(0);
  }
  .content{
    position: absolute;
    inset: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .content::before{
    content: '';
    position: absolute;
    inset: 60px;
    border: 4px solid transparent;
    border-left: 4px solid #2196f3;
    border-right: 4px solid #fff;
    border-radius: 50%;
    animation: animte_01 5s linear infinite;
    z-index: 1;
    pointer-events: none;
  }
  @keyframes animte_01{
    0%{
      rotate: 0deg;
    }
    100%{
      rotate: 360deg;
    }
  }
  .content::after{
    content: '';
    position: absolute;
    inset: 120px;
    border: 4px solid transparent;
    border-left: 4px solid #9121f3;
    border-right: 4px solid #fff;
    border-radius: 50%;
    animation: animte_02 2.5s linear infinite;
    z-index: 1;
    pointer-events: none;
  }
  @keyframes animte_02{
    0%{
      rotate: 360deg;
    }
    100%{
      rotate: 0deg;
    }
  }
  .contentBx{
    position: absolute;
    transform: scale(0);
    transition: 0.5s;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .contentBx.active{
    transform: scale(1);
    opacity: 1;
    transition-delay: 0.5s;
  }
  .contentBx .card{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
  }
  .contentBx .card .imgBx{
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 10%;
    overflow: hidden;
  }
  .contentBx .card .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .contentBx .card .textBx{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .contentBx .card .textBx h5{
    position: relative;
    font-size: 1.25em;
    font-weight: 600;
    color: rgb(17, 170, 230);
    line-height: 1em;
    text-transform: uppercase;
    text-align: center;
  }

  .stars {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 120%;
    transform: rotate(-45deg);
    color: aqua
  }
  
  .star {
    --star-color: var(--primary-color);
    --star-tail-length: 6em;
    --star-tail-height: 2px;
    --star-width: calc(var(--star-tail-length) / 6);
    --fall-duration: 9s;
    --tail-fade-duration: var(--fall-duration);
    position: absolute;
    top: var(--top-offset);
    left: 0;
    width: var(--star-tail-length);
    height: var(--star-tail-height);
    color: var(--star-color);
    background: linear-gradient(45deg, currentColor, transparent);
    border-radius: 50%;
    filter: drop-shadow(0 0 6px currentColor);
    transform: translate3d(104em, 0, 0);
    animation: fall var(--fall-duration) var(--fall-delay) linear infinite, tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;
  }
  @media screen and (max-width: 750px) {
    .star {
      animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
    }
  }
  .star:nth-child(1) {
    --star-tail-length: 6.8em;
    --top-offset: 33.53vh;
    --fall-duration: 6.215s;
    --fall-delay: 8.025s;
  }
  .star:nth-child(2) {
    --star-tail-length: 5.46em;
    --top-offset: 58.38vh;
    --fall-duration: 6.001s;
    --fall-delay: 1.917s;
  }
  .star:nth-child(3) {
    --star-tail-length: 5.73em;
    --top-offset: 94.61vh;
    --fall-duration: 6.579s;
    --fall-delay: 4.956s;
  }
  .star:nth-child(4) {
    --star-tail-length: 5.98em;
    --top-offset: 8.33vh;
    --fall-duration: 9.588s;
    --fall-delay: 1.169s;
  }
  .star:nth-child(5) {
    --star-tail-length: 7.29em;
    --top-offset: 4.84vh;
    --fall-duration: 8.592s;
    --fall-delay: 9.223s;
  }
  .star:nth-child(6) {
    --star-tail-length: 6.35em;
    --top-offset: 76.75vh;
    --fall-duration: 10.666s;
    --fall-delay: 3.991s;
  }
  .star:nth-child(7) {
    --star-tail-length: 6.99em;
    --top-offset: 3.76vh;
    --fall-duration: 11.73s;
    --fall-delay: 5.532s;
  }
  .star:nth-child(8) {
    --star-tail-length: 5.19em;
    --top-offset: 9.02vh;
    --fall-duration: 6.578s;
    --fall-delay: 5.201s;
  }
  .star:nth-child(9) {
    --star-tail-length: 7.46em;
    --top-offset: 79.92vh;
    --fall-duration: 6.717s;
    --fall-delay: 9.126s;
  }
  .star:nth-child(10) {
    --star-tail-length: 6.95em;
    --top-offset: 25.23vh;
    --fall-duration: 10.41s;
    --fall-delay: 9.06s;
  }
  .star:nth-child(11) {
    --star-tail-length: 6.46em;
    --top-offset: 99.1vh;
    --fall-duration: 9.35s;
    --fall-delay: 6.265s;
  }
  .star:nth-child(12) {
    --star-tail-length: 7.29em;
    --top-offset: 9.48vh;
    --fall-duration: 8.018s;
    --fall-delay: 0.524s;
  }
  .star:nth-child(13) {
    --star-tail-length: 6.83em;
    --top-offset: 59.57vh;
    --fall-duration: 6.562s;
    --fall-delay: 0.025s;
  }
  .star:nth-child(14) {
    --star-tail-length: 5.93em;
    --top-offset: 4.13vh;
    --fall-duration: 7.993s;
    --fall-delay: 3.923s;
  }
  .star:nth-child(15) {
    --star-tail-length: 6.01em;
    --top-offset: 73.7vh;
    --fall-duration: 6.421s;
    --fall-delay: 2.017s;
  }
  .star:nth-child(16) {
    --star-tail-length: 6.59em;
    --top-offset: 77.99vh;
    --fall-duration: 8.524s;
    --fall-delay: 9.463s;
  }
  .star:nth-child(17) {
    --star-tail-length: 7.25em;
    --top-offset: 67.44vh;
    --fall-duration: 9.258s;
    --fall-delay: 1.678s;
  }
  .star:nth-child(18) {
    --star-tail-length: 5.44em;
    --top-offset: 31.88vh;
    --fall-duration: 7.259s;
    --fall-delay: 5.161s;
  }
  .star:nth-child(19) {
    --star-tail-length: 7.15em;
    --top-offset: 52.63vh;
    --fall-duration: 11.06s;
    --fall-delay: 0.757s;
  }
  .star:nth-child(20) {
    --star-tail-length: 6.42em;
    --top-offset: 60.08vh;
    --fall-duration: 9.547s;
    --fall-delay: 2.634s;
  }
  .star:nth-child(21) {
    --star-tail-length: 5.57em;
    --top-offset: 98.89vh;
    --fall-duration: 6.583s;
    --fall-delay: 1.226s;
  }
  .star:nth-child(22) {
    --star-tail-length: 7.08em;
    --top-offset: 22.78vh;
    --fall-duration: 7.197s;
    --fall-delay: 6.587s;
  }
  .star:nth-child(23) {
    --star-tail-length: 6.04em;
    --top-offset: 14.99vh;
    --fall-duration: 8.195s;
    --fall-delay: 4.708s;
  }
  .star:nth-child(24) {
    --star-tail-length: 7em;
    --top-offset: 64.47vh;
    --fall-duration: 9.503s;
    --fall-delay: 2.14s;
  }
  .star:nth-child(25) {
    --star-tail-length: 6.23em;
    --top-offset: 40.79vh;
    --fall-duration: 10.268s;
    --fall-delay: 0.505s;
  }
  .star:nth-child(26) {
    --star-tail-length: 5.26em;
    --top-offset: 96vh;
    --fall-duration: 8.127s;
    --fall-delay: 8.658s;
  }
  .star:nth-child(27) {
    --star-tail-length: 6.67em;
    --top-offset: 46.77vh;
    --fall-duration: 8.215s;
    --fall-delay: 4.907s;
  }
  .star:nth-child(28) {
    --star-tail-length: 6.57em;
    --top-offset: 25.55vh;
    --fall-duration: 9.148s;
    --fall-delay: 7.948s;
  }
  .star:nth-child(29) {
    --star-tail-length: 7.35em;
    --top-offset: 41.91vh;
    --fall-duration: 8.623s;
    --fall-delay: 7.123s;
  }
  .star:nth-child(30) {
    --star-tail-length: 5.37em;
    --top-offset: 37.05vh;
    --fall-duration: 6.697s;
    --fall-delay: 0.93s;
  }
  .star:nth-child(31) {
    --star-tail-length: 6.79em;
    --top-offset: 40.15vh;
    --fall-duration: 8.871s;
    --fall-delay: 2.581s;
  }
  .star:nth-child(32) {
    --star-tail-length: 5.97em;
    --top-offset: 37.26vh;
    --fall-duration: 9.734s;
    --fall-delay: 0.393s;
  }
  .star:nth-child(33) {
    --star-tail-length: 5.41em;
    --top-offset: 32.87vh;
    --fall-duration: 8.656s;
    --fall-delay: 5.91s;
  }
  .star:nth-child(34) {
    --star-tail-length: 6.14em;
    --top-offset: 10.67vh;
    --fall-duration: 7.125s;
    --fall-delay: 5.276s;
  }
  .star:nth-child(35) {
    --star-tail-length: 7.36em;
    --top-offset: 14.17vh;
    --fall-duration: 9.462s;
    --fall-delay: 1.894s;
  }
  .star:nth-child(36) {
    --star-tail-length: 5.6em;
    --top-offset: 17.2vh;
    --fall-duration: 6.986s;
    --fall-delay: 8.319s;
  }
  .star:nth-child(37) {
    --star-tail-length: 5.78em;
    --top-offset: 61.88vh;
    --fall-duration: 10.033s;
    --fall-delay: 3.957s;
  }
  .star:nth-child(38) {
    --star-tail-length: 6.87em;
    --top-offset: 24.05vh;
    --fall-duration: 7.033s;
    --fall-delay: 4.092s;
  }
  .star:nth-child(39) {
    --star-tail-length: 5.95em;
    --top-offset: 85.04vh;
    --fall-duration: 6.022s;
    --fall-delay: 2.023s;
  }
  .star:nth-child(40) {
    --star-tail-length: 7.38em;
    --top-offset: 60.29vh;
    --fall-duration: 9.302s;
    --fall-delay: 6.334s;
  }
  .star:nth-child(41) {
    --star-tail-length: 5.26em;
    --top-offset: 74.57vh;
    --fall-duration: 7.936s;
    --fall-delay: 8.304s;
  }
  .star:nth-child(42) {
    --star-tail-length: 6.53em;
    --top-offset: 63.83vh;
    --fall-duration: 10.518s;
    --fall-delay: 9.849s;
  }
  .star:nth-child(43) {
    --star-tail-length: 6.3em;
    --top-offset: 60.6vh;
    --fall-duration: 6.045s;
    --fall-delay: 4.181s;
  }
  .star:nth-child(44) {
    --star-tail-length: 6.61em;
    --top-offset: 85.5vh;
    --fall-duration: 7.805s;
    --fall-delay: 4.603s;
  }
  .star:nth-child(45) {
    --star-tail-length: 6.96em;
    --top-offset: 42.26vh;
    --fall-duration: 11.707s;
    --fall-delay: 9.72s;
  }
  .star:nth-child(46) {
    --star-tail-length: 5.19em;
    --top-offset: 18.28vh;
    --fall-duration: 9.037s;
    --fall-delay: 4.417s;
  }
  .star:nth-child(47) {
    --star-tail-length: 6.64em;
    --top-offset: 37.55vh;
    --fall-duration: 6.521s;
    --fall-delay: 4.866s;
  }
  .star:nth-child(48) {
    --star-tail-length: 5em;
    --top-offset: 68.47vh;
    --fall-duration: 8.036s;
    --fall-delay: 1.547s;
  }
  .star:nth-child(49) {
    --star-tail-length: 6.91em;
    --top-offset: 90.88vh;
    --fall-duration: 10.062s;
    --fall-delay: 5.54s;
  }
  .star:nth-child(50) {
    --star-tail-length: 6.9em;
    --top-offset: 34.86vh;
    --fall-duration: 8.533s;
    --fall-delay: 5.646s;
  }
  .star::before, .star::after {
    position: absolute;
    content: "";
    top: 0;
    left: calc(var(--star-width) / -2);
    width: var(--star-width);
    height: 100%;
    background: linear-gradient(45deg, transparent, currentColor, transparent);
    border-radius: inherit;
    animation: blink 2s linear infinite;
  }
  .star::before {
    transform: rotate(45deg);
  }
  .star::after {
    transform: rotate(-45deg);
  }
  
  @keyframes fall {
    to {
      transform: translate3d(-30em, 0, 0);
    }
  }
  @keyframes tail-fade {
    0%, 50% {
      width: var(--star-tail-length);
      opacity: 1;
    }
    70%, 80% {
      width: 0;
      opacity: 0.4;
    }
    100% {
      width: 0;
      opacity: 0;
    }
  }
  @keyframes blink {
    50% {
      opacity: 0.6;
    }
  }